.additional {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $special-dark-grey;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  width: 282px;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
    width: 896px;
  }
}

.additional__list {
  border-top: 1px solid $tangle-color-2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.additional__term {
  text-transform: uppercase;
}

.additional__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.additional__definition {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: $basic-dark-grey;
}

.additional__definition-container {
  display: flex;
  justify-content: space-between;
  width: 280px;
}

.additional__container {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 896px;
  }
}
