.additional {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $special-dark-grey;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  width: 282px;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
    width: 708px;
    // border: 1px solid $tangle-color-2;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
    width: 896px;
  }
}

.additional__definition:nth-child(2) {
  grid-column-start: 1;

  @media (min-width: $desktop-width) {
    grid-column-start: 2;
  }
}

.additional__list {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: 1fr 1fr;
  grid-column-start: 3;
  border-top: 2px solid $tangle-color-2;
  padding-top: 12px;
  grid-gap: 1px 127px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 0;
    grid-gap: 13px 122px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 34px 82px;
  }
}

.additional__term {
  text-transform: uppercase;
}

.additional__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.additional__definition {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: $basic-dark-grey;
  margin-left: 0;
}

.additional__container {
  @media (min-width: $tablet-width) {
    border: 1px solid $tangle-color-2;
    margin-top: -1px;
    padding: 20px 38px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    justify-content: end;
  }
}

.additional__button {
  text-decoration: none;
  color: $basic-white;

  @media (min-width: $desktop-width) {
    grid-column-start: 4;
    width: 280px;
  }
}
