.advantages__title {
  color: $basic-black;
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
  text-align: center;
}
.advantages__list {
  list-style: none;
}
.advantages__item {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $basic-dark-grey;
}
