.advantages {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 75px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    padding: 25px 110px;
    margin-bottom: 0;
  }
}

.advantages__wrapper {
  padding-bottom: 29px;
}

.advantages__title {
  color: $basic-black;
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
  margin: 0;
  padding-top: 5px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.advantages__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 74px 14px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.advantages__item {
  position: relative;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $basic-dark-grey;
  width: 279px;
  background-repeat: no-repeat;
  background-position: 0 22px;
  padding-top: 10px;
  height: 60px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    width: 280px;
    height: 190px;
    font-size: 16px;
    line-height: 24px;
    color: $basic-dark-grey;
    font-weight: 400;
    background-size: 80px 80px;
    margin-top: 33px;
  }

  @media (min-width: $desktop-width) {
    width: 240px;
  }
}

.advantages__item:nth-child(1) {
  background-image: url("../img/group-1.svg");
}

.advantages__item:nth-child(1)::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    width: 125px;
    height: 280px;
    top: 4%;
    left: 115px;
    background-image: url("../img/1.svg");
    background-repeat: no-repeat;
    background-position: 10px 10px;
  }
}

.advantages__item:nth-child(2) {
  background-image: url("../img/group-2.svg");
}

.advantages__item:nth-child(2)::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    width: 125px;
    height: 280px;
    top: 4%;
    left: 115px;
    background-image: url("../img/2.svg");
    background-repeat: no-repeat;
    background-position: 10px 10px;
  }
}

.advantages__item:nth-child(3) {
  background-image: url("../img/group-3.svg");
}

.advantages__item:nth-child(3)::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    width: 125px;
    height: 280px;
    top: 4%;
    left: 115px;
    background-image: url("../img/3.svg");
    background-repeat: no-repeat;
    background-position: 10px 10px;
  }
}

.advantages__item:nth-child(4) {
  background-image: url("../img/group-4.svg");
}

.advantages__item:nth-child(4)::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    width: 125px;
    height: 280px;
    top: 4%;
    left: 115px;
    background-image: url("../img/4.svg");
    background-repeat: no-repeat;
    background-position: 10px 10px;
  }
}

.advantages__item p {
  margin-left: 80px;

  @media (min-width: $tablet-width) {
    margin: 124px 0;
    width: 246px;
  }
}
