.catalog {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $basic-black;
}

.catalog__list {
  list-style: none;
  color: $basic-dark-grey;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-content: center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 45px 50px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 60px 70px;
  }
}

.catalog__item {
  display: flex;
  flex-direction: column;

  @media (max-width: $mobile-width-only) {
    display: flex;
    flex-direction: row;
  }
}

.catalog__desc {
  @media (min-width: $mobile-width-only) {
    display: flex;
    flex-direction: column;
  }
}

.catalog__table {
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    // width: 252px;
  }

  @media (min-width: $desktop-width) {
    // width: 180px;
  }
}

.catalog__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-dark-grey;
}
// .catalog__link {
//   font-size: 20px;
//   line-height: 20px;
//   text-align: center;
//   font-family: "Oswald", "Arial", sans-serif;
//   width: 244px;
//   height: 40px;
//   background-color: $basic-green;
//   padding-top: 14px;
//   text-transform: uppercase;
//   text-decoration: none;
//   color: $basic-white;
//   margin-left: 20px;

//   @media (max-width: $mobile-width-only) {
//     font-size: 14px;
//     line-height: 18px;
//     width: 264px;
//     height: 30px;
//     padding-top: 10px;
//   }
// }

.catalog__more {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.catalog__button {
  text-align: center;
}

.catalog__link {
  text-decoration: none;
  color: $basic-white;
}
