.choice-program__container {
  background-image: url("../img/background-cat.jpg");
  background-repeat: no-repeat;
  background-size: 320px 302px;
  background-color: $basic-green;
  text-align: center;
  color: $basic-white;
  display: flex;
  flex-direction: column;
}

.choice-program__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  width: 249px;
}

.choice-program__text {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  width: 198px;
}

.choice-program__button {
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  color: $basic-white;
  text-transform: uppercase;
}

.choice-program__image {
  @media (min-width: $tablet-width) {
    order: 4;
  }

  @media (min-width: $desktop-width) {
    order: 4;
  }
}

.choice-program__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.choice-program__item {
  background-color: $basic-grey;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.choice-program__subtitle {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $basic-dark-grey;
}

.choice-program__headline {
  text-align: center;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
}

.choice-program__link {
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: $basic-black;
}
