.contact-details {
  border: 0;
  margin-top: 25px;
}

.contact-details__title {
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
}

.contact-details__list {
  list-style: none;
  padding-left: 0;
  color: $basic-dark-grey;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.contact-details__input {
  width: 210px;

  @media (min-width: $tablet-width) {
    width: 530px;
  }

  @media (min-width: $desktop-width) {
    width: 470px;
  }
}
