.contacts__section {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-right: 70px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    z-index: 1;
    height: 160px;
    width: 570px;
    left: 10%;
    margin-top: 90px;
    padding-top: 53px;
  }
}

.contacts__text {
  font-family: "Oswald", "Arial", sans-serif;
  color: $special-black;
  text-transform: uppercase;
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: $basic-dark-grey;
}
