.contact-details {
  border: 0;
  margin-top: 25px;
}
.contact-details__title {
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
}
.contact-details__list {
  list-style: none;
  padding-left: 0;
  color: $basic-dark-grey;
}
