.example {
  background-color: $grey;
  padding-top: 24px;
  //display: flex;
  //flex-direction: column;
}
.example__wrapper {
  display: flex;
  flex-direction: column;

}

.example__title {
  font-weight: 400;
  font-size: 36px;
  color: $basic-black;
  text-align: center;
}

.example__subtitle {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $basic-dark-grey;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
  }
}

.example__text {
  font-size: 14px;
  line-height: 20px;
  color: $basic-black;
  text-transform: uppercase;
}

.example__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $basic-black;
  text-transform: uppercase;
  border: 0;
}
.example__before-after-button {
  width: 228px;

  @media (min-width: $tablet-width) {
    width: 586px;
  }

  @media (min-width: $desktop-width) {
    width: 586px;
  }
}
