.more {
  border: 0;
}

.more__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    height: 174px;
  }
}

.more__item {
  width: 280px;

  @media (min-width: $desktop-width) {
    width: 221px;
  }
}

.more__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
  background-color: $basic-green;
  width: 280px;
  height: 40px;
  border: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 282px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    height: 54px;
  }
}

.more__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
}

.more__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
  }
}
