.page-header {

  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;

  @media (max-width: $mobile-width-only) {
    position: relative;
  }

  @media (min-width: $tablet-width) {
    padding: 12px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

// .page-header__nav--closed {
//   display: none;
// }

.page-header__nav {
  @media (max-width: $mobile-width-only) {
    // position: relative;
  }

  @media (min-width: $tablet-width) {
    padding-top: 16px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 12px;
  }
}

.page-header__toggle {
  position: absolute;
  top: 7%;
  left: 86%;
  width: 25px;
  height: 25px;
  border: none;
  background-color: $basic-white;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

/* Кнопка закрытия */

.page-header--closed .page-header__toggle::before {
  content: "";
  position: absolute;
  top: 71%;
  right: 1%;
  width: 24px;
  height: 2px;
  border: none;
  background-color: $basic-black;
  box-shadow: 0 8px 0 0 $basic-black, 0 16px 0 0 $basic-black;
}

/* Кнопка открытия */
.page-header--opened .page-header__toggle {
  right: auto;
  z-index: 2;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 1px;
    width: 25px;
    height: 1.5px;
    background-color: $basic-black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

@media (max-width: $mobile-width-only) {
  .page-header--closed .page-header__item {
    display: none;
  }
}

.page-header--nojs .page-header__toggle {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    font-weight: 400;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    grid-template-columns: 1fr 1fr;
    grid-gap: 220px;
    padding-top: 43px;
  }
}

.page-header__logo-image {
  text-decoration: none;
  display: grid;
  grid-template-columns: 23% 54%;
  margin-top: 24px;
}

.page-header__logotype {
  margin-top: -12px;
}

.page-header__logotype:hover {
  opacity: 0.8;
}

.page-header__logotype:active {
  opacity: 0.6;
}

.page-header__list {
  list-style: none;
  line-height: 20px;
  padding-left: 0;
  margin-top: 16px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 27% 34% 46%;
    grid-gap: 0;
    font-size: 18px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 24% 40% 45%;
    width: 478px;
    font-size: 20px;
    line-height: 30px;
  }
}

.page-header__item {
  @media (max-width: $mobile-width-only) {
    padding-bottom: 9px;
    border-top: 1px solid $tangle-color-3;
    padding-top: 21px;
  }
}

.page-header__item:nth-child(3) {
  border-bottom: 1px solid $tangle-color-3;
}

.page-header__link {
  text-decoration: none;
  color: $basic-black;
  position: relative;
  display: block;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    padding-bottom: 10px;
  }
}

.page-header__link--active {
  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $basic-green;
  }

  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $basic-white;
  }
}

.page-header__logo {
  text-align: left;
}
