.page-header {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.page-header__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
/* Кнопка закрытия */
.page-header__toggle--closed {
  content: "";
  position: absolute;
  top: 4%;
  left: 87%;
  width: 24px;
  height: 2px;
  border: none;
  background-color: $basic-black;
  box-shadow: 0 8px 0 0 $basic-black, 0 16px 0 0 $basic-black;
}

/* Кнопка открытия */
/*
.page-header__toggle--opened {
  position: absolute;
  right: 11px;
  bottom: 248px;
  z-index: 2;
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  background-color: $basic-white;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 3px;
    width: 25px;
    height: 1.5px;
    background-color: $basic-black;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
*/

@media (min-width: $tablet-width) {
  .page-header {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    grid-template-columns: 1fr 1fr;
    padding-top: 50px;
  }
}

.page-header__logo-image {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  padding-right: 45px;
}

.page-header__logotype:hover {
  opacity: 0.8;
}

.page-header__logotype:active {
  opacity: 0.6;
}

.page-header__list {
  list-style: none;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 478px;
  }
}

.page-header__link {
  text-decoration: none;
  color: $basic-black;
  position: relative;
  display: block;
  padding-bottom: 15px;
}

.page-header__link--active {
  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $basic-green;
  }

  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $basic-white;
  }
}

.page-header__logo {
  text-align: left;
}
