.page-footer__container {
  background-color: $basic-grey;
  padding-top: 30px;
}
.page-footer__partner {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: $basic-dark-grey;
}
