// .page-footer {
//   padding: 0 20px;
// }
.page-footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $basic-grey;
}

.page-footer__container {
  background-color: $basic-grey;
  display: grid;
  grid-auto-flow: row;
  padding: 28px 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px 30px;
    grid-gap: 103px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 52px 109px;
  }
}

.page-footer__location {
  width: 100%;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.page-footer__logo {
  padding: 7px 75px;

  @media (min-width: $tablet-width) {
    padding: 8px 0;
  }
}

.page-footer__logo:hover {
  opacity: 0.8;
}

.page-footer__logo:active {
  opacity: 0.6;
}

.page-footer__partner {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: $basic-dark-grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 6px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }


  @media (min-width: $desktop-width) {
    justify-content: center;
    gap: 21px;
    padding-left: 177px;
    padding-top: 3px;
  }
}

.page-footer__partner:active {
  color: $basic-dark-grey;
  opacity: 0.3;
}

.page-footer__partner-logo {
  fill: $special-grey-dark;
}

.page-footer__partner-logo:hover {
  fill: $basic-green;
}

.page-footer__partner-logo:active {
  fill: $basic-green;
  opacity: 0.3;
}

.page-footer__link {
  text-decoration: none;
}

.page-footer__social {
  padding-left: 16px;
  padding-top: 1px;
}
