.page-header {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.page-header__toggle {
  @media
  (min-width: $tablet-width),
  (min-width: $desktop-width) {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
@media (min-width: $desktop-width) {
  .page-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}
.page-header__logo-image {
  @media (min-width: $tablet-width) {
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }

}
.page-header__list {
  list-style: none;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    width: 478px;
  }
}
.page-header__link {
  text-decoration: none;
  color: $basic-black;
}
