.questionary {
  color: $basic-dark-grey;
  border: 0;
  width: 280px;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 630px;
    margin-top: 21px;
  }

  @media (min-width: $desktop-width) {
    width: 569px;
    margin-top: 21px;
  }
}

.questionary__list {
  list-style: none;
  padding-left: 0;
}

.questionary__item {
  padding-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 20px;
  }
}

.questionary__item label {
  padding-right: 8px;
}

.questionary__item input {
  height: 44px;
  padding: 0;
  border: 1px solid $grey-input;

  @media (min-width: $tablet-width) {
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    height: 50px;
  }
}

.questionary__item:nth-child(1) input {
  width: 213px;
  padding-left: 13px;

  @media (min-width: $tablet-width) {
    width: 544px;
    padding-left: 19px;
  }

  @media (min-width: $desktop-width) {
    width: 484px;
    padding-left: 21px;
  }
}

.questionary__item:nth-child(2) input {
  width: 187px;
  padding-left: 17px;

  @media (min-width: $tablet-width) {
    width: 514px;
    padding-left: 23px;
  }

  @media (min-width: $desktop-width) {
    width: 453px;
  }
}

.questionary__item:nth-child(3) input {
  width: 155px;
  padding-left: 16px;

  @media (min-width: $tablet-width) {
    width: 475px;
    padding-left: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 414px;
  }
}
