.selection-program {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $basic-black;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin-bottom: 31px;


  @media (min-width: $tablet-width) {
    padding-left: 71px;
    padding-right: 67px;
    margin-top: 26px;
    margin-bottom: 71px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
    padding-left: 108px;
    margin-top: 48px;
    padding-right: 0;
  }
}

.selection-program__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-transform: none;
  margin-top: 27px;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.selection-program__subtitle {
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-top: 54px;
  }
}

.selection-program__container {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 78px;
  }
}

.selection-program__form {
  padding-top: 10px;
}
