.social__list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  align-items: baseline;
}

.social__item {
  margin-right: 20px;
}

.social__icon {
  fill: $special-grey-dark;
}

.social__icon:hover {
  fill: $basic-green;
}

.social__icon:active {
  opacity: 0.3;
  fill: $basic-green;
}
