// Colors

$basic-black: #000000;
$special-black: #111111;
$grey: #eaeaea;
$basic-dark-grey: #444444;
$special-dark-grey: #222222;
$grey-input: #e7e7e7;
$tangle-color: #d9d9d9;
$tangle-color-2: #cdcdcd;
$basic-grey: #f2f2f2;
$basic-white: #ffffff;
$special-grey: #e5e5e5;
$special-grey-dark: #666666;
$basic-green: #68b738;
$grey-color: #ebebeb;
// viewports
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
